@page "/"

<PageTitle>Code Editor</PageTitle>

<div class="d-flex flex-row" style="width: 100%;height: 100%;">
    <div style="width: 50%;">

        <Jibini.Polymer.Ide.Shared.CodeEditor @bind-RawContent="@contentA" />
    </div>
    <div style="width: 50%;">

        <Jibini.Polymer.Ide.Shared.CodeEditor @bind-RawContent="@contentB" />
    </div>
</div>

@code {
    string contentA = @"
fun Main(args: Array<string>): int
{
    /* 
     *          EDITOR IS NOT VERY GOOD
     *
     * No arrow up/down, no select + delete, not
     * much of anything really.
     *
     * It will try to match your statements in
     * the floating autocomplete suggestion window.
     *
     * Should show up if you start typing.
     *
     *                             - ZG
     */

    return = EXIT_SUCCESS;
}
    ".Trim();

    string contentB = @"
var container: Container<dynamic> = new;
var zero: int;
var globalCount = zero;

fun DoWork(b: int)
{
    var i: int;
    fun changeValue(): int
    {
        i = globalCount + b;
        return = i;
    }
    container.Value = changeValue;
    container.Value();
}
    ".Trim();
}