@page "/"
<PageTitle>Code Editor</PageTitle>

<div class="d-flex flex-row" style="width: 100%;height: 100%;">
    <div style="width: 50%;">

        <CodeEditor @bind-RawContent="@contentA" />
    </div>
    <div style="width: 50%;">

        <CodeEditor @bind-RawContent="@contentB" />
    </div>
</div>

@code {
    string contentA = @"
fun Main(args: Array<string>): int
{
    for (var it in args)
    {
        if (it.Length =/*=*/ 1)
        {
        } else
        {
        }
    }

    /* This may remain a valid return syntax: */
    return = 0;

    /* If no other is specified, the value is kept. */
}
    ".Trim();

    string contentB = @"
var container: Container<dynamic> = new;
var globalCount = 0L;

fun DoWork(b: int)
{
    var i: int;
    fun changeValue(): int
    {
        i = globalCount + b;
        return = i;
    }
    container.Value = changeValue;
    container.Value();
}
    ".Trim();
}